*.iml
.gradle/
local.properties
.idea/
.DS_Store
build/
captures/
.externalNativeBuild/
.cxx/
*.apk
*.aab
*.keystore
*.jks
app/release/
app/src/main/cpp/third_party/whisper.cpp/
app/src/main/cpp/third_party/llama.cpp/
